fastapi>=0.104.0
uvicorn
sqlmodel>=0.0.8
asyncpg>=0.28.0
psycopg2-binary
httpx
pydantic>=2.4.2
pydantic-settings>=2.0.3
python-dotenv
python-jose
passlib
python-multipart
alembic
pydantic-ai
pyJWT
asyncio
email-validator
beautifulsoup4==4.12.2
